<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent events</title>
</head>

<body>
    <h1>Recent winners</h1>
    <ul>
        <% for (let event of events){%>
        <li><a href="/events/<%= event._id %>"><%= event.title %></a> <%= event.prize%> <%= event.winner%></li>
        <% }%>
    </ul>

</body>

</html>